/Code/Stream2Me_Message/nbproject/private/
/Code/Stream2Me_Server/nbproject/private/
/Code/Stream2Me_Server/build/
/Code/Stream2Me_Message/build/
/Code/Stream2Me_Client/build/
/Code/Stream2Me_Client/nbproject/private/
/Code/Database/
/Code/Working_Version/
*.db